.wholePage{
    background-color: lightslategrey;
    height: 100vh;
}

.dragDrop{
      margin-top: 8%;
    padding: 5%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    justify-content: space-evenly;
    background-color:  #00000029;
    width:120%;
    border-radius: 10px;
    color:white;  
}
.files{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.dragButton {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.2s;
  }
  
  .dragButton:hover {
    background-color: #00000029;
    color: white;
  }

.root{
    display: flex;
    justify-content: space-evenly;
}
