.root{
    display: flex;
 
    justify-content: space-evenly;
    overflow: hidden;
   background-color: dimgray;
}

.gridList{
    width:70%;
    height:60%;
    background-color: azure;
}

.icon{
    color:rgba(255, 255, 255, 0.54);
}

